.border-user-image{
    border: solid 1px #b3b3b3!important;
}
.border-user-rigth{
    border-right: solid 2px #b3b3b3!important;
}
.margin-left{
    margin-left: 10px!important;
}
.padding-left{
    padding-left: 10px!important;
}